.pageHeader {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #6EE7B7, #8B5CF6);
    color: #1F1F1F;
}

.pageHeader h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.pageHeader p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}
.aboutContent {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    width : 90%;
    margin: 20px auto;
    padding: 40px 0;
    position: relative;
    min-height: 400px;
}
.aboutText {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    max-width: 800px;       
    margin-bottom: 50px;    
    text-align: left;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.aboutText:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}
.aboutText h3 {
    font-size: 2em;
    margin-bottom: 15px;
    color:#8B5CF6
}
.aboutText p {
    font-size: 1.2em;
    line-height: 1.6;
}
.aboutText ul {
    margin-top: 10px;
    padding-left: 20px;
}